:root {
  --primary-color: #ff9500;
  --bkg-color: #f7f7f8;
  --main-font: "Be Vietnam Pro", sans-serif;
  --button-radius: 8px;
  --section-radius: 12px;
  --main-color: #262626;
  --secondary-white: #f1f1f3;
  --border-color: rgb(238, 238, 238);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bkg-color);
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  color: var(--main-color);
  min-height: 100vh;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

main {
  flex: 1;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1597px;
  margin: 0 auto;
  /* width: 90%; */
}

.mt100 {
  margin-top: 100px;
}

.btn {
  background-color: var(--primary-color);
  padding: 12px 24px;
  font-family: var(--main-font);
  border-radius: var(--button-radius);
  text-decoration: none;
  color: white;
}

a {
  border-radius: var(--button-radius);
  color: var(--main-color);
}

.btn:hover {
  opacity: 0.8;
}

.row {
  display: flex;
}

.mb100 {
  margin-bottom: 100px;
}

/* Header*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid var(--border-color);
}

main {
  margin-top: 150px;
}

.top-header {
  background-color: var(--primary-color);
  padding: 14px;
  border-radius: var(--button-radius);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.mainfont {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.top-header h5 {
  color: white;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--bkg-color);
  align-items: center;
  padding-top: 14px;
  padding-bottom: 24px;
}

.nav-left {
  display: flex;
  gap: 50px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  padding: 14px 24px;
  color: black;
  text-decoration: none;
  border-radius: var(--button-radius);
}

nav ul li a:hover {
  background-color: #f1f1f3;
}

.sign-up {
  display: flex;
  justify-content: center;
}

.signup {
  display: block;
  padding: 14px 34px;
  text-decoration: none;
}

.signup:hover {
  background-color: #f1f1f3;
}

.sign-up .btn {
  color: var(--bkg-color);
}

.hidden {
  display: none;
}

/* FOOTER */

footer {
  background-color: white;
  margin-top: 150px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-content {
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;

  gap: 50px;
}

.footer-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #262626;
}

.footer-about p {
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0%;
}

.p-icon {
  display: flex;
  gap: 6px;
  align-items: center;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer-home {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 249px;
}

.footer-home-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-home-list p {
  color: #59595a;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}

.footer-home h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
}

.footer-about {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: flex-start;
  width: 249px;
}

.footer-about h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
}

.footer-home-list p {
  color: #59595a;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 249px;
  justify-content: start;
}

.footer-social h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
}

.social-icons {
  display: flex;
  gap: 14px;
}

/* Sections */

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 60px;
}

.info-section-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 10px;
  background-color: white;
  border-radius: 11px;
  padding: 12px 24px 12px 12px;
  border: 1px solid var(--border-color);
}

.abstract-line {
  position: absolute;
  top: -30px;
  left: -30px;
}

.info-section-title h1 {
  font-family: var(--main-font);
  font-weight: 600;
  line-height: 150%;
  font-size: 36px;
}

.info-section-title .title-icon {
  background-color: #fff4e5;
  padding: 14px;
  border-radius: 6px;
}

.title-span {
  color: #ff9500;
}

.info-text-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.info-text-content h2 {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
}

.info-text-content p {
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
}

.btn-white {
  background-color: white;
  font-family: var(--main-font);
  padding: 14px 20px;
  font-size: 14px;
  line-height: 150%;
  border-radius: var(--button-radius);
  text-decoration: none;
  color: black;
  border: 1px solid var(--border-color);
}

.info-btn {
  background-color: var(--primary-color);
  font-family: var(--main-font);
  padding: 14px 20px;
  font-size: 14px;
  line-height: 150%;
  border-radius: var(--button-radius);
  text-decoration: none;
  color: white;
  align-items: center;
}

.info-section-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 30px;
}

.btn-white:hover {
  background-color: #f1f1f3;
}

.info-btn:hover {
  opacity: 0.8;
}

.img-section {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  padding: 24px;
  width: fit-content;
}

.img-section img {
  background-color: white;
  max-width: 100%;
  /* width: 90%; */
  /* flex-shrink: 0 0 auto; */
}

.img-section img:not(:last-child) {
  border-right: 1px solid var(--border-color);
}

.big-image {
  max-width: 100%;
  border-radius: 10px;
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.benefits-before-cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 300px;
}

.benefits-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
}

.benefits-text h1 {
  font-family: var(--main-font);
  font-weight: 600;
  line-height: 150%;
  font-size: 48px;
  color: #262626;
}

.benefits-text p {
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 150%;
  font-size: 18px;
  color: #59595a;
}

.view-all-btn {
  flex: 0 0 auto;
  background-color: white;
  font-family: var(--main-font);
  font-size: 18px;
  padding: 18px 24px;
  font-weight: 500;
  text-align: center;
  line-height: 150%;
  border-radius: var(--button-radius);
  text-decoration: none;
  color: black;
  border: 1px solid var(--border-color);
}

.view-all-btn:hover {
  background-color: rgb(226, 226, 226);
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  max-width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 50px;
  gap: 50px;
  background-color: white;
}

.card h1 {
  font-family: var(--main-font);
  font-size: 80px;
  line-height: 24px;
  font-weight: 700;
  text-align: end;
}

.card a {
  background-color: rgb(250, 250, 250);
  padding: 20px;
  /* flex: 0 0 auto; */
  border-radius: 8px;
  border: 1px solid var(--border-color);
  align-self: flex-end;
  text-align: center;
  width: fit-content;
}

.card p {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  font-weight: 400;
  color: #4c4c4d;
}

.card-text {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.6%;
  color: black;
}

.card a:hover {
  background-color: #f1f1f3;
}

.our-courses {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.course {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  justify-content: space-between;
  background-color: white;
  border-radius: 12px;
}

.courses-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.course-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-info-p {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.coursedate {
  display: block;
  padding: 10px 16px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #4c4c4d;
}

.author {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  color: #262626;
}

.course h4 {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}

.get-it-btn {
  background-color: #f1f1f3;
  padding: 18px 24px;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.get-it-btn:hover {
  background-color: #dfdfdf;
}

.course-description {
  color: #4c4c4d;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.testimonials-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.testimonial-card p {
  background-color: white;
  padding: 50px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #4c4c4d;
}

.testimonial-story {
  background-color: #fcfcfd;
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

.testimonial-user {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.testimonial-user h6 {
  color: #333333;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.testimonial-btn {
  background-color: #f7f7f8;
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: 0%;
  text-align: center;
  padding: 18px 24px;
  border: 1px solid var(--border-color);
}

.pricing {
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
}

.period {
  background-color: white;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.monthly {
  background-color: var(--primary-color);
  color: white;
  border-radius: 6px;
  padding: 14px 30px;
  border: none;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0%;
}

.yearly {
  background-color: white;
  color: #4c4c4d;
  border-radius: 6px;
  padding: 14px 30px;
  border: none;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0%;
}

.monthly:hover {
  opacity: 0.8;
}
.yearly:hover {
  background-color: rgb(231, 231, 231);
}

.plans-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  gap: 30px;
  background-color: white;
  border-radius: 12px;
}

.plan {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 50px 30px 30px 30px;
  gap: 50px;
  border-radius: 12px;
  background-color: #fcfcfd;
  border: 1px solid var(--border-color);
  font-family: var(--main-font);
}

.plan h5 {
  font-family: var(--main-font);
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 169%;

  background-color: #fff9f0;
  padding: 12px 22px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
}

.plan h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

.plan h1 {
  font-family: var(--main-font);
  font-size: 80px;
  font-weight: 600;
  line-height: 73%;
  text-align: center;
}

.plan span {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 73%;
}

.plan > *:nth-last-child(2) {
  margin-bottom: -50px;
}

.features {
  display: flex;
  justify-content: space-between;

  flex-direction: column;
  border-radius: 14px 14px 0 0;
  padding: 40px;
  gap: 30px;
  background-color: white;
  overflow: hidden;
  border: 1px solid var(--border-color);
}

.plan .btn {
  text-align: center;
  border-radius: 0 0 8px 8px;
  border: 1px solid var(--border-color);
  padding: 20px 24px;
  margin-top: 0px;
}

.features ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 30px 0 30px;
}

.features ul li {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 14px;
  align-items: center;
  gap: 12px;

  color: #4c4c4d;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.faq {
  background-color: white;
  padding: 100px;
  border-radius: 12px;
  gap: 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.faq-left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: start;
}

.faq-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
}

.faq-title h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
}

.faq-title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.faq-left .btn {
  background-color: white;
  color: #262626;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  border: 1px solid var(--border-color);
  padding: 18px 24px;
  border-radius: 8px;
  gap: 8px;
  width: max-content;
}

/* RESPONSIVE */

@media only screen and (max-width: 768px) {
  main {
    margin-top: 100px;
  }

  .top-header {
    width: 100%;
    max-width: 91.5%;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 0;
    justify-content: space-between;
    padding: 10px 16px;
  }

  .top-header h5 {
    font-size: 14px;
  }

  .header-nav {
    width: 100%;
    gap: 0;
    align-items: center;
    padding: 14px 0;
  }

  .nav-left nav {
    display: none;
  }

  .nav-left img {
    width: 40px;
  }

  .signup {
    font-size: 14px;
    padding: 12px 20px;
  }

  .btn {
    font-size: 14px;
    padding: 12px 20px;
  }

  .hidden {
    display: block;
    align-self: center;
    margin-left: 20px;
  }

  .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
  }

  section {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .mt100 {
    margin-top: 40px;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* SECTIONS */

  .abstract-line {
    top: -15px;
    left: -15px;
  }

  .info-text-content {
    align-items: center;
    justify-content: center;
  }

  .info-section-title {
    padding: 14px;
  }

  .info-section-title h1 {
    text-align: center;
    font-size: 16px;
  }

  .info-text-content h2 {
    text-align: center;
    font-size: 24px;
  }

  .info-text-content p {
    text-align: center;
    font-size: 14px;
  }

  .img-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 10px;
  }

  .big-image {
    border-radius: 20px;
  }

  .benefits-text h1 {
    font-size: 28px;
  }

  .benefits-text p {
    font-size: 14px;
  }

  .benefits-before-cards {
    flex-direction: column;
    gap: 20px;
    padding: 0;
    align-items: flex-start;
  }

  .view-all-btn {
    padding: 14px 20px;
    font-size: 14px;
  }

  .card h1 {
    font-size: 50px;
  }

  .card-text {
    font-size: 20px;
  }

  .card p {
    font-size: 14px;
  }

  .card a {
    padding: 14px;
    width: 54px;
    height: 54px;
  }

  .cards-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .courses-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .course {
    padding: 24px;
    gap: 24px;
  }

  .course-info {
    flex-direction: column;
    gap: 14px;
    align-items: flex-start;
  }

  .coursedate {
    font-size: 14px;
    padding: 8px 14px;
  }

  .author {
    font-size: 16px;
  }

  .course h4 {
    font-size: 18px;
  }

  .course-description {
    font-size: 14px;
  }

  .get-it-btn {
    padding: 14px 24px;
    font-size: 14px;
  }

  .plans-container {
    flex-direction: column;
  }

  .testimonials-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .testimonial-card {
    padding: 0;
  }

  .testimonial-card p {
    padding: 30px;
  }

  .testimonial-story {
    padding: 20px 30px;
    gap: 0;
  }

  .testimonial-btn {
    padding: 14px 16px;
    font-size: 14px;
  }

  .testimonial-user h6 {
    font-size: 16px;
  }

  .testimonial-user img {
    width: 50px;
    height: 50px;
  }

  .monthly {
    padding: 12px 24px;
    font-size: 14px;
  }

  .yearly {
    padding: 12px 24px;
    font-size: 14px;
  }

  .period {
    align-self: center;
  }

  .plans-container {
    padding: 20px;
    gap: 30px;
  }

  .plan {
    gap: 20px;
    padding: 30px 20px 20px 20px;
  }

  .plan h5 {
    font-size: 16px;
  }

  .plan h1 {
    font-size: 50px;
  }

  .plan span {
    font-size: 14px;
  }

  .features {
    padding: 20px;
    gap: 20px;
  }

  .features h3 {
    font-size: 18px;
  }

  .features ul {
    gap: 20px;
    padding: 0 0 30px 0;
  }

  .features ul li {
    padding: 12px;
    font-size: 14px;
  }

  .features ul li img {
    width: 24px;
  }

  .faq-title h2 {
    font-size: 28px;
  }

  .faq-title p {
    font-size: 14px;
  }

  .faq-title .btn {
    padding: 14px 20px;
    align-self: flex-start;
  }

  footer {
    margin-top: 0;
  }

  .mb100 {
    margin-bottom: 40px;
  }

  .footer-logo img {
    width: 44px;
  }

  .footer-left {
    gap: 30px;
  }

  .footer-about {
    gap: 12px;
  }

  .p-icon p {
    font-size: 15px;
  }

  .p-icon span img {
    width: 24px;
  }

  .footer-home h4 {
    font-size: 18px;
  }

  .footer-about h4 {
    font-size: 18px;
  }

  .footer-social h4 {
    font-size: 18px;
  }

  .social-icons img {
    width: 44px;
  }

  .footer-home-list p {
    font-size: 14px;
  }

  .footer-content {
    padding: 50px 20px 24px 20px;
  }

  .footer-right {
    gap: 24px;
  }

  .footer-home {
    width: 100%;
    gap: 10px;
  }

  .footer-about {
    width: 100%;
    gap: 10px;
  }

  .footer-social {
    width: 100%;
    gap: 10px;
  }
}
